body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #eef2ff, #fdf2f8);
}

/* NAVBAR */

nav {
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  padding: 18px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* CARD */

.page {
  width: 380px;
  margin: 70px auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.page:hover {
  transform: scale(1.03);
}

/* PHOTO */

.photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #7c3aed;
  box-shadow: 0 0 15px #7c3aed;
}

/* HEADINGS */

h2 {
  margin-top: 15px;
  color: #4f46e5;
}

/* SKILLS */

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  background: #ede9fe;
  color: #4f46e5;
  padding: 6px 12px;
  margin: 6px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

/* PROJECT LIST */

.page ul li {
  background: #dbeafe;
}
