body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

nav {
  background: #4f46e5;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.page {
  width: 300px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
